.giphyButton{
    margin: 10px;
}

.gif-container {
    max-height: 200px;
    /* margin: 10px; */
}

.gif-image {
    max-width: 100%;
    min-width: 100%;
    min-height: 50%;
    max-height: 80%;

}

